:root {
	font-size: 16px;
}
html {
	height: auto;
	scroll-behavior: smooth;
	width: 100%;
}
html,
body,#root {
	min-width: 320px;
}
body, #root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}